@using appWebEntityFramework.Models
@model List<ClienteCLS>

@{
    ViewBag.Title = "Index";
}

<h2>Clientes</h2>
@Html.ActionLink("agregar","Agregar","Cliente",null, new {@class ="btn btn-primary" })
<table class="table table-bordered table-hover">

    <thead>
        <tr>
            <td>@Html.LabelFor(p => Model[0].iidcliente)</td>
            <td>@Html.LabelFor(p => Model[0].nombre)</td>
            <td>@Html.LabelFor(p => Model[0].apPaterno)</td>
            <td>@Html.LabelFor(p => Model[0].apMaterno)</td>
            <td>@Html.LabelFor(p => Model[0].telefonoFijo)</td>
            <td>Operaciones</td>
        </tr>

    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td width="10%">@item.iidcliente</td>
            <td>@item.nombre</td>
            <td>@item.apPaterno</td>
            <td>@item.apMaterno</td>
            <td>@item.telefonoFijo</td>
            <td>
                @Html.ActionLink(" ", "Editar", "Cliente", new { id = item.iidcliente }, new { @class = "bi bi-pen btn btn-primary" })

                @*@Html.ActionLink(" ", "Eliminar", "Cliente", new { id = item.iidcliente }, new { @class = "bi bi-trash btn btn-danger" })*@

                <!-- Button trigger modal -->
                <button type="button" onclick="mostrarPopup(@item.iidcliente)" class= "bi bi-trash btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                
                </button>

            </td>
        </tr>
        }
    </tbody>

</table>

<!--BOTON QUE TOMA EL ID DEL CLIENTE Y VA AL METODO ELIMINAR DEL CLIENTECONTROLER-->
@using (Html.BeginForm("Eliminar","Cliente",FormMethod.Post, new { @id = "frmEliminar"}))
{
    @Html.Hidden("iidcliente")

}


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Desea guardar los cambios ?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div style="padding:1em">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" onclick="Agregar()" class="btn btn-info">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<script>


    //FUNCION QUE RECIBE EL ID DE CLIENTE 
    function mostrarPopup(iidcliente) {

        document.getElementById("iidcliente").value = iidcliente;

    }

    //FUNCION QUE ACTIVA EL SUBMIT
    function Agregar() {

        var frmEliminar = document.getElementById("frmEliminar");
        frmEliminar.submit();
    }

</script>