@using appWebEntityFramework.Models
@model List<EmpleadoCLS>
@{
    ViewBag.Title = "Index";
    List<SelectListItem> listaUsuario =  (List<SelectListItem>)ViewBag.listaTipoUsuario;

}

<h2>Index</h2>

@Html.ActionLink("Agregar", "Agregar", "Empleado", null, new { @class = "btn btn-primary" })

@using (Html.BeginForm("Index", "Empleado", FormMethod.Get, new {@id = "frmBuscar" })) {

@Html.Label("ingresa el tipo de usuario")
@Html.DropDownList("iidtipoUsuario", listaUsuario)

<table class="table table-hover table-bordered">

    <thead>
        <tr>
            <td>@Html.LabelFor(p => Model[0].iidEmpleado)</td>
            <td>@Html.LabelFor(p => Model[0].nombre)</td>
            <td>@Html.LabelFor(p => Model[0].apPaterno)</td>
            <td>@Html.LabelFor(p => Model[0].nombreTipoUsuario)</td>
            <td>@Html.LabelFor(p => Model[0].nombreTipoContrato)</td>
            <td>Operaciones</td>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.iidEmpleado</td>
                <td>@item.nombre</td>
                <td>@item.apPaterno</td>
                <td>@item.nombreTipoUsuario</td>
                <td>@item.nombreTipoContrato</td>
                <td>

                    @Html.ActionLink(" ", "Editar", "Empleado", new { id = item.iidEmpleado }, new { @class = "bi bi-pen btn btn-primary" })

                    @*@Html.ActionLink(" ", "Eliminar", "Empleado", new { id = item.iidEmpleado }, new { @class = "bi bi-trash btn btn-danger" })*@

                    <!-- Button trigger modal ELIMINAR -->
                    <button type="button" onclick="mostrarPopup(@item.iidEmpleado)" class="bi bi-trash btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    </button>
                </td>
            </tr>
        }


    </tbody>

</table>
}

<!--MODAL-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Desea guardar los cambios ?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div style="padding:1em">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" onclick="Agregar()" class="btn btn-info">Aceptar</button>
            </div>
        </div>
    </div>
</div>


@using (Html.BeginForm("Eliminar","Empleado",FormMethod.Post, new {@id="frmEliminar" }))
{
    @Html.Hidden("txtidEmpleado")
}

<script>
    //funcion que permite eliminar
    function mostrarPopup(idEmpleado) {
        document.getElementById("txtidEmpleado").value = idEmpleado;

    }

    //funcion que activa el formulario eliminar
    function Agregar() {
        var frmEliminar = document.getElementById("frmEliminar");
        frmEliminar.submit();
    }

    //al momento de cambiar la funcion onchange se activa y lo envia al formulario el resultado que se cambia en
    //el combobox
    var iidtipoUsuario = document.getElementById("iidtipoUsuario");
    iidtipoUsuario.onchange = function () {

        var frmBuscar = document.getElementById("frmBuscar");
        frmBuscar.submit();
 
    
    }



</script>