@using appWebEntityFramework.Models
@model List<MarcaCLS>
@{
    ViewBag.Title = "Index";
}

<h2>Marcas</h2>
@Html.ActionLink("Agregar","Agregar","Marca",null, new {@class="btn btn-primary" })

<table class="table table-bordered table-hover">

    <thead>
        <tr>
            <td>@Html.LabelFor(p=>Model[0].iidmarca)</td>
            <td>@Html.LabelFor(p => Model[0].nombre)</td>
            <td>@Html.LabelFor(p=>Model[0].descripcion)</td>
        </tr>

    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td width="10%">@item.iidmarca</td>
                <td width="20%">@item.nombre</td>
                <td width="70%">@item.descripcion</td>

            </tr>
        }
    </tbody>

</table>
