@using appWebEntityFramework.Models
@model List<BusCLS>

@{
    ViewBag.Title = "Index";

    List<SelectListItem> listaModelo = (List<SelectListItem>)ViewBag.listaModelo;
    List<SelectListItem> listaMarca = (List<SelectListItem>)ViewBag.listaMarca;
    List<SelectListItem> listaTipoBus = (List<SelectListItem>)ViewBag.listaTipoBus;
    List<SelectListItem> listaSucursal = (List<SelectListItem>)ViewBag.listaSurcursal;
}

<h2>Index</h2>





@Html.ActionLink("Agregar", "Agregar", "Bus", new { @class = "btn btn-primary" })

@using (Html.BeginForm("Index", "Bus", FormMethod.Post, new {@id="frmBuscar" })) {

<table class="table table-bordered table-hover">

    <thead>
        <tr>
            <td>@Html.LabelFor(p => Model[0].iidBus)</td>
            <td>@Html.LabelFor(p => Model[0].placa)</td>
            <td>@Html.LabelFor(p => Model[0].nombreModelo)</td>
            <td>@Html.LabelFor(p => Model[0].nombreSucursal)</td>
            <td>@Html.LabelFor(p => Model[0].nombreTipoBus)</td>
            <td>Operaciones</td>
        </tr>

        <tr>
            <td>@Html.TextBox("iidBus", null, new {@class="form-control" })</td>
            <td>@Html.TextBox("placa", null, new {@class="form-control" })</td>
            <td>@Html.DropDownList("iidModelo", listaModelo, null, new { @class = "form-control" })</td>
            <td>@Html.DropDownList("iidSucursal", listaSucursal, null, new { @class = "form-control" })</td>
            <td>@Html.DropDownList("iidTipoBus", listaTipoBus, null, new { @class = "form-control" })</td>

        </tr>

    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>@item.iidBus</td>
                <td>@item.placa</td>
                <td>@item.nombreModelo</td>
                <td>@item.nombreSucursal</td>
                <td>@item.nombreTipoBus</td>
                <td>
                    @Html.ActionLink(" ", "Editar", "Bus", new { id = item.iidBus }, new { @class = "bi bi-pen btn btn-primary" })

                    @*@Html.ActionLink(" ", "Eliminar", "Bus", new { id = item.iidBus }, new { @class = "bi bi-trash btn btn-danger" })*@

                    <!-- Button trigger modal BOTON ELIMINAR-->
                    <button type="button" onclick="mostrarPopup(@item.iidBus)" class="bi bi-trash btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    </button>

                </td>
            </tr>

        }


    </tbody>

</table>

}

<!--MODAL-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Desea guardar los cambios ?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div style="padding:1em">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" onclick="Agregar()" class="btn btn-info">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!--el id bus tiene que ser el mismo que se pasa por la funcion-->
@using (Html.BeginForm("Eliminar","Bus", FormMethod.Post, new {@id = "frmEliminar" }))
{
    @Html.Hidden("iidBus")
}

<script>
    var frmBuscar = document.getElementById("frmBuscar");
    var controles = document.getElementsByClassName("form-control");
    var ncontroles = controles.length;

    for (var i = 0; i < ncontroles; i++) {
        controles[i].onchange = function () {
            frmBuscar.submit();
        }
    }

    function mostrarPopup(idBus) {
        document.getElementById("iidBus").value = idBus;
    }

    function Agregar() {
        var frmEliminar = document.getElementById("frmEliminar");
        frmEliminar.submit();
    }

</script>